// FONTS
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap");

// VARIABLES
$backgroundColor: #ecf0f1;
$navbarColor: #413d5d;
$greyColor: #a2a4a4;
$linkColor: #6d66a0;
$tableColor: #f3f3f3;
$tableBorderColor: #dce2e3;
$topNumberColor: #d6dadb;
$primaryFont: "Roboto Condensed", sans-serif;
$secondaryFont: "Rajdhani", sans-serif;

*,
ul,
p {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: 0;
}

a {
    color: $linkColor;
    font-weight: 600;
}

.center {
    text-align: center;
}

.action-tag {
    border: 1px solid $navbarColor;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    height: 33px;
}

.action-resource {
    border-color: #3498db;
}

.action-stake {
    border-color: #f39c12;
}

.action-producer {
    border-color: #8e44ad;
}

.text-truncate {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: bottom;
}

.time {
    font-size: 12px;
    color: $greyColor;
}

.top-number {
    width: 30px;
    height: 30px;
    background-color: $topNumberColor;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
}

.process {
    background-color: #9d9f9f;
    height: 5px;
    .current {
        background-color: #6d66a0;
        height: 5px;
    }
}

.status-success::before,
.status-pending::before,
.status-error::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color:#14ef61;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}

.status-error::before {
    background-color: #ff0000;
}

.status-pending::before {
    background-color: #ee8f3b;
}

.btn-default {
    background-color:$navbarColor;
    color: white;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
}

.btn-default:hover {
    color: $topNumberColor;
}

.loading-overlay {
    // height: 300px;
    overflow: hidden;
}

._loading_overlay_overlay {
    background: #ecf0f1;
    color: $linkColor;

    svg circle {
        stroke: $linkColor !important;
    }
}

._loading_overlay_content {
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
    }
}

body {
    background-color: $backgroundColor;
    font-family: $primaryFont;
}

header {
    margin-bottom: 50px;
    .top-header {
        display: flex;
        justify-content: space-between;
        font-family: $secondaryFont;
        padding: 10px 0px;
        font-size: 16px;
        color: $navbarColor;
        font-weight: 600;
    }

    .navbar {
        background-color: $navbarColor;
        position: relative;
        max-height: 70px;
        padding: 0;

        .patten-left {
            position: absolute;
            left: 0px;
            z-index: 0;
        }

        .patten-right {
            position: absolute;
            right: 0px;
            z-index: 0;
        }

        ul {
            width: 100%;
            // justify-content: space-between;
            li {
                display: inline-block;
                width: 13%;
                a {
                    color: white;
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 70px;
                    position: relative;
                    z-index: 1;
                }

                &:nth-child(4) {
                    margin-left: 22%;
                }
            }

            .btn-download {
                vertical-align: 4px;
                display: inline-block;
                font-size: 14px;
                background-color: #297fb9b7;
                width: 100%;
                text-align: center;

                img {
                    height: 14px;
                    margin-right: 5px;
                    vertical-align: 0px;
                }
            }
        }

        .logo {
            position: relative;
            top: -108px;
            margin: auto;
            .patten-logo-left {
                position: relative;
                right: -30px;
            }
            .patten-logo-right {
                position: relative;
                left: -30px;
            }
        }
    }

    .search {
        margin-top: 40px;
        .wrapper-search {
            position: relative;
            .input-search {
                width: 100%;
                background: none;
                border: 3px solid $navbarColor;
                height: 70px;
                font-size: 24px;
                color: #6d66a0;
                padding-left: 55px;
                &::placeholder {
                    color: #6d66a0;
                }
            }

            img {
                position: absolute;
                top: 21px;
                left: 15px;
            }

            .select-network {
                position: absolute;
                width: 180px;
                right: 0px;
                top: 3px;
                height: 64px;
                font-size: 18px;

                .select-network__control {
                    background-color: $navbarColor;
                    border-radius: 0px;
                    height: 100%;
                    border: none;
                }

                .select-network__indicator-separator {
                    display: none;
                }

                .select-network__single-value {
                    color: white;
                }

                .select-network__menu {
                    top: 60px;
                }

                .select-network__menu-list,
                .select-network__option {
                    background-color: $navbarColor;
                }

                .select-network__option {
                    border-bottom: 1px solid white;
                }

                .select-network__option:last-child {
                    border: none;
                }

                .select-network__option--is-focused,
                .select-network__option--is-selected {
                    color: white;
                }
            }
        }

        .noti {
            margin-top: 5px;
            p {
                display: inline;
                margin-left: 5px;
                vertical-align: -3px;
            }
        }
    }
}

footer {
    position: relative;
    margin-top: 50px;
    background-color: #232a3f;
    padding: 50px 0px;
    color: white;
    height: 330px;
    overflow: hidden;

    .pattern {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .logo {
        img {
            margin-right: 10px;
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            span {
                display: block;
            }
            span:first-child {
                font-size: 14px;
                position: relative;
                top: 10px;
                letter-spacing: 0.9px;
            }
            span:last-child {
                font-size: 30px;
                font-weight: 700;
            }
        }
    }

    .social-links {
        margin-top: 70px;
        a {
            display: inline-block;
            margin-right: 40px;
        }
    }

    .footer-links {
        .title {
            font-size: 20px;
        }

        ul {
            margin-top: 30px;
            li {
                color: #c5c7c7;
                font-size: 16px;
                margin-top: 5px;
                a {
                    color: #c5c7c7;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
}

.table {
    width: 100%;
    background-color: $tableColor;
    border: 1px solid $tableBorderColor;

    .table-header {
        padding: 10px;
        border-bottom: 1px solid $tableBorderColor;

        .title {
            font-size: 14px;
            color: black;
            text-transform: uppercase;
        }
    }

    .table-title {
        padding: 10px;
        border-bottom: 1px solid $tableBorderColor;
        li {
            font-size: 14px;
            color: $greyColor;
        }
    }

    .table-body {
        padding: 0px 10px;
        .table-row {
            padding: 10px 0px;
            border-bottom: 1px solid $tableBorderColor;
            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .table-footer {
        padding: 10px;
        border-top: 1px solid $tableBorderColor;

        .view-more {
            a {
                color: $greyColor;
                font-weight: 600;
            }
        }
    }
}

#home {
    .one-block {
        display: flex;
        justify-content: space-between;
        .block-number {
            display: inline-block;
        }
        .witness {
            width: 60%;
            display: inline-block;
            .thumbnail {
                position: relative;
                width: 40px;
                height: 40px;
                display: inline-block;
                .logo {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border-radius: 5px;
                    padding: 5px;
                }
                .flag {
                    position: absolute;
                    right: -5px;
                    bottom: -5px;
                }
            }
            .name {
                width: 70%;
                display: inline-block;
                vertical-align: top;
                margin-left: 15px;
                .producer {
                    color: $greyColor;
                }
                .txns {
                    vertical-align: 5px;
                    font-size: 12px;
                }
            }
        }
    }
    .one-transaction {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0px;
        .info {
            width: 200px;
            display: inline-block;
        }
    }
    .one-holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0px;

        .info {
            .address {
                width: 200px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }

        .balance {
            .balance-em {
                font-weight: 600;
            }

            .balance-usd {
                text-align: right;
            }
        }
    }

    .table-producer {
        .table-title,
        .one-producer {
            ul {
                display: flex;
                // justify-content: space-between;
                align-items: center;
                li {
                    display: inline-block;
                    // width: 12.5%;
                }

                li:nth-child(1) {
                    width: 5%
                }

                li:nth-child(5),
                li:nth-child(6),
                li:nth-child(7) {
                    width: 10%;
                }

                li:nth-child(3) {
                    width: 13.25%;
                }

                li:nth-child(2) {
                    width: 25.25%;
                }

                li:nth-child(4) {
                    width: 15.25%;
                }

                li:nth-child(8) {
                    width: 11.25%;
                }
            }
        }

        .one-producer {
            .name {
                height: 40px;
                .thumbnail {
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    .logo {
                        width: 100%;
                        height: 100%;
                        background-color: white;
                        border-radius: 5px;
                        padding: 5px;
                    }
                }
                .address {
                    vertical-align: top;
                    display: inline-block;
                    width: 65%;
                    margin-left: 10px;
                    a:last-child {
                        vertical-align: top;
                    }
                }
            }

            .location {
                p {
                    display: inline-block;
                    margin-left: 10px;
                    vertical-align: -1px;
                    font-size: 14px;
                }
            }

            .vote {
                p {
                    font-weight: 600;
                }
                .process {
                    margin-top: 5px;
                    width: 80%;
                }
            }

            .status {
                font-size: 14px;
            }

            .btn-vote {
                text-align: center;
                vertical-align: 10px;

                a {
                    vertical-align: 7px;
                }
            }
        }
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1270px;
    }
}
